/*=============================RESET=============================*/
*{
	margin: 0;
	padding: 0;
}

html,body{height: 100%;}

@font-face{
	font-family: "Lato";
	src: url('../fonts/Lato-Light.ttf');
}

.button{outline: none;}

/*=============================HEADER=============================*/
.header{
	height: 70px;
	background: #eb5e28;
	color: white;}

#btn_open_menu{
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	top: 15px;
	left: 10px;
	border-radius: 40px;
	border: none;
	background: none;
	font-size: 1.5em;}


.content_header{
	min-width: 200px;
	height: 100%;
	margin: 0 auto;
	background: none;}
.content_header span{display: none;}

.logo{
	position: relative;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	top: 5px;
	border: 3px solid white;
	border-radius: 60px;
	overflow: hidden;
	background: url('../img/header/logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;}
.logo img{
	position: relative;
	right: 5px;
	top: 5px;}

/*=============================SECTION=============================*/
.section{}

/*=============================FOOTER=============================*/
.footer{}


/*=============================BREAKPOINTS=============================*/
@media screen and (min-width: 768px){
	.content_header{max-width: 500px;}
	.content_header span{
		display: block;
		position: absolute;
		margin-left: 60px;
		margin-top: 20px;
		font-family: "Lato";
		font-size: 1.3em;
	}
}
