/*=============================RESET=============================*/
*{
	margin: 0;
	padding: 0;
}

html,body{height: 100%;}

@font-face{
	font-family: "Lato";
	src: url('../fonts/Lato-Light.ttf');
}

.button{outline: none;}

/*=============================HEADER=============================*/
.header{
	height: 170px;
	background: #eb5e28;
	color: white;}

#btn_open_menu{
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	top: 30px;
	left: 10px;
	border-radius: 40px;
	border: 2px solid white;
	background: none;
	font-size: 1.5em;}


.content_header{
	min-width: 200px;
	height: 100%;
	margin: 0 auto;
	background: none;}
.content_header hgroup{display: none;}

.logo{
	position: relative;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	top: 10px;
	border-radius: 90px;
	overflow: hidden;
	background: white;}
.logo img{
	position: relative;
	right: 5px;
	top: 5px;}

.container_menu_bar{display: none;}

/*=============================SECTION=============================*/
.section{}

/*=============================FOOTER=============================*/
.footer{}


/*=============================BREAKPOINTS=============================*/
@media screen and (min-width: 768px){
	#btn_open_menu{display: none;}

	.content_header{max-width: 768px;}
	.content_header hgroup{
		display: block;
		position: absolute;
		margin-left: 20px;}

	.container_menu_bar{
		position: absolute;
		display: block;
		width: 730px;
		height: 40px;
		left: 50%;
		bottom: 0;
		margin-left: -365px;
		background: none;}
	.container_menu_bar .nav_menu_bar .ul_menu_bar{
		display: block;
		width: 730px;
		height: 40px;
		background: none;}	
	.container_menu_bar .nav_menu_bar .ul_menu_bar li{
		display: inline-block;
		position: relative;
		float: left;
		width: 116px;
		height: 40px;
		margin-left: 5px;
		background: none;}
	.container_menu_bar .nav_menu_bar .ul_menu_bar li:nth-child(3){left: -5px;background: none;}
	.container_menu_bar .nav_menu_bar .ul_menu_bar li:nth-child(4){left: -15px;background: none;}
	.container_menu_bar .nav_menu_bar .ul_menu_bar li:nth-child(5){left: 15px;background: none;}

	.container_menu_bar .nav_menu_bar .ul_menu_bar li i{
		position: relative;
		float: left;
		width: 30px;
		height: 30px;
		top: 5px;
		padding: 5px 0px;
		border-radius: 30px;
		border: 2px solid white;
		background: none;
		text-align: center;
		font-size: 1.2em;}
	.container_menu_bar .nav_menu_bar .ul_menu_bar li:nth-child(1) i{font-size: 1.1em;}
	.container_menu_bar .nav_menu_bar .ul_menu_bar li:nth-child(4) i{left: 0px;}

	.container_menu_bar .nav_menu_bar .ul_menu_bar li a{
		position: relative;
		float: left;
		top: 10px;
		left: 5px;
		text-decoration: none;
		color: white;
	}
	
}
